<?xml version="1.0"?>
<launch>

  <arg name="base_global_planner" default="global_planner/GlobalPlanner"/>
  <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/>

  <!-- Import move base -->
  <arg name="scan_topic" default="/scan"/>
  <arg name="cmd_vel_topic" default="/hoverboard_velocity_controller/cmd_vel"/>
  <arg name="odom_topic" default="/odom_combined"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>

    <rosparam file="$(find autonomous_mobile_robot_navigation)/param/planner.yaml" command="load"/>
    <rosparam file="$(find autonomous_mobile_robot_navigation)/param/common_costmap.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find autonomous_mobile_robot_navigation)/param/common_costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find autonomous_mobile_robot_navigation)/param/local_costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find autonomous_mobile_robot_navigation)/param/global_costmap.yaml" command="load" ns="global_costmap" />
    <!-- Remap possition -->
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

</launch>
