<?xml version="1.0"?>

<launch>
  <param name="/use_sim_time" value="false"/>
  <!-- Running sensor -->

  <include file="$(find mpu6050_driver)/launch/mpu6050_driver.launch" />
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- Static transformation for TF -->
  <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster" args="0 0.06 0.1 0 0 0 base_link laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="dummy_broadcaster" args="0 0 0 0 0 0 base_link dummy 100" />
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0.06 0.02 0 0 0 base_link imu 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0.09 0 0 0 base_footprint base_link 100" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map scanmatch_odom 100" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_nav_broadcaster" args="0 0 0 0 0 0 map nav 50"/> -->

  <!-- Robot model -->
  <arg name="model" default="$(find mobile_robot_autonomous_navigation)/urdf/mobile_robot_v2.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <rosparam file="$(find mobile_robot_autonomous_navigation)/config/joint_limits.yaml" command="load"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <remap from="odom" to="/hoverboard_velocity_controller/odom" />
  <remap from="imu" to="/imu/data" />
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
     <rosparam file="$(find mobile_robot_autonomous_navigation)/config/ekf_localization.yaml" command="load"/>
  </node>

  <!-- Rviz config param declare -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_robot_autonomous_navigation)/config/mapping_config.rviz"/>

  <!-- Hector SLAM -->
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>
  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>

  <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>
  <!-- Hoverboard -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />
  <!-- Rqt Robot Steering -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
		<remap from="/cmd_vel" to="/hoverboard_velocity_controller/cmd_vel"/>
  </node>

</launch>
