<?xml version="1.0"?>
<launch>
  <!-- Move Base Node -->
  <!-- Subscribe: /tf, /map, /scan, /odom, /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->
  <remap from="cmd_vel" to="/hoverboard_velocity_controller/cmd_vel"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mobile_robot_autonomous_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mobile_robot_autonomous_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mobile_robot_autonomous_navigation)/param/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mobile_robot_autonomous_navigation)/param/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mobile_robot_autonomous_navigation)/param/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
